.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.background {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url("images/bg-pattern-top-desktop.svg");
}

.layer2 {
    background-image: url("images/bg-pattern-bottom-desktop.svg");
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-size: 15px;
    font-family: "Spartan", sans-serif;
}

.container {
    color: hsl(0, 0%, 100%);
}

.card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.card-main {
    width: 450px;
    margin: 10px;
}

.card-main>h1 {
    color: hsl(300, 43%, 22%);
    font-size: 50px;
    line-height: 3rem;
    margin-bottom: 0;
}

.card-main>p {
    color: hsl(303, 10%, 53%);
    margin-bottom: 0px;
}

.card-stars {
    width: 44%;
    color: hsl(300, 43%, 22%);
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    margin: 10px;
    padding: 20px;
   
}

.card-stars p {
    list-style-type: none;
    margin: 5px;
    padding: 15px;
    padding-right: 40px;
    padding-left: 30px;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
    font-weight: 700;
}

p:nth-child(1) {
    align-self: flex-start;
}

p:nth-child(2) {
    align-self: center;
}

p:nth-child(3) {
    align-self: end;
}

p>img:last-child {
    margin-right: 18px;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.review-profile {

    display: grid;
    grid-template-columns: 0.8fr 2fr;
    grid-template-rows: auto;
    place-items: start;
}

.review-profile>p {
    align-self: flex-start;
    margin-top: 0;
    margin-left: 2px;
    color: hsl(333, 80%, 67%);
}

.review-profile>h4 {
    margin-top: 10px;
    margin-bottom: 2px !important;
}

.review img {
    width: 50px;
    border-radius: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.review {
    width: 320px;
    margin-top: 10px;
    background-color: hsl(300, 43%, 22%);
    border: 1px solid white;
    border-radius: 10px;
    padding: 30px;
    margin: 15px;
}

#start {
    align-self: start;
    margin-bottom: 40px;
}

#middle {
    align-self: center;
}

#end {
    align-self: end;
}

@media (max-width: 700px) {
    body {
        height: fit-content;
    }

    .container {
        border: 5px solid black;
        display: flex;
        flex-flow: column wrap;
    }

    .card-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-main {
        width: 340px;
    }

    .card-main>h1 {
        color: hsl(300, 43%, 22%);
        font-size: 40px;
    }

    .card-main>p {
        text-align: center;
    }

    .card-stars {
        width: 300px;
    }

    .card-stars p {
        width: 200px;
    }

    p:nth-child(1) {
        align-self: center;
    }

    p:nth-child(2) {
        align-self: center;
    }

    p:nth-child(3) {
        align-self: center;
    }

    p>img:last-child {
        margin-right: 18px;
    }

    .card-bottom {
        display: flex;
        flex-direction: column;
    }

    .review-profile {
        border: 1px solid green;
        display: grid;
        grid-template-columns: 0.8fr 2fr;
        grid-template-rows: auto;
        place-items: start;
    }

    .review-profile>p {
        align-self: flex-start;
        margin-top: 0;
        margin-left: 2px;
        color: hsl(333, 80%, 67%);
    }

    #start {
        margin-bottom: 10px;
    }
}